* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Home page and About page style*/

.main-background {
    background-image: url("https://nuotraukos.mediakatalogas.lt/rsynced_images/barn-326534_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 910px;
    position: relative;
}

.navigation-ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 0;
}

.navigation-list {
    border: 1px solid gray;
    background: rgba(128, 128, 128, 0.8);
    width: 250px;
    text-align: center;
    padding: 15px 0;
    border-radius: 25px;
    list-style: none;
    font: bold 25px Verdana;
    text-shadow: 1px 1px 15px yellow;
    cursor: pointer;
    transition: 0.3s;
}

.navigation-a {
    text-decoration: none;
    color: black;
}

.navigation-list:hover {
    transition: 0.3s;
    transform: translateY(4px);
}

.title-text {
    position: relative;
    top: 130px;
    text-align: center;
    font: bold 80px Verdana;
    text-shadow: 1px 1px 15px yellow;
}

.title-para {
    position: relative;
    top: 150px;
    text-align: center;
    font: bold 30px Verdana;
    text-shadow: 1px 1px 15px yellow;
    width: 800px;
    left: 550px;
    padding: 25px 0;
}

.chicken-gif {
    background-image: url("https://i.pinimg.com/originals/ee/32/c1/ee32c1af78ec63ebb7760f979de567aa.gif");
    position: absolute;
    top: 700px;
    left: 250px;
    width: 300px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 10;
}

.rooster-gif {
    background-image: url("https://img1.picmix.com/output/stamp/normal/5/6/6/2/292665_760d0.gif");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 570px;
    right: 250px;
    width: 250px;
    height: 350px;
}

.random-name-text {
    position: absolute;
    top: 480px;
    transform: rotate(10deg);
    right: 390px;
    display: block;
    text-align: center;
    width: 400px;
    background: rgba(128, 128, 128, 0.8);
    padding: 35px;
    border: 2px solid black;
    font: 20px Verdana;
    border-radius: 70px 70px 0 70px;
}

.random-name-bold {
    font: bold 25px Verdana;
    text-shadow: 1px 1px 15px yellow;
}

.background-img-about1 {
    background-image: url("https://media.istockphoto.com/photos/portrait-of-a-funny-chickens-closeup-isolated-on-white-background-picture-id1215945079?k=6&m=1215945079&s=170667a&w=0&h=DT3dup4tPCLljMFMViZ1KPqWGLBNo1hxxu7BMVy-wOw=");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 910px;
}

.background-img-about2 {
    background-image: url("https://images.fineartamerica.com/images/artworkimages/mediumlarge/3/an-isolated-tray-of-eggs-from-recycled-materials-with-white-eggs-on-a-white-background-top-view-peter-pike.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 910px;
}

/*Style for contacts*/

.background-img-contacts1 {
    background-image: url("https://www.pilotonline.com/resizer/y6KPwHPzCX1vraA1CAoAivxtgxw=/fit-in/800x533/smart/filters:fill(black)/arc-anglerfish-arc2-prod-tronc.s3.amazonaws.com/public/4XSQCHH6YNA4TGVDT2FKCJTNQ4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 910px;
}

.title-contact {
    padding: 50px 0;
    text-align: center;
    font: bold 80px Verdana;
    text-shadow: 1px 1px 15px yellow;
}

.background-img-contacts2 {
    background-image: url("https://assets.epicurious.com/photos/58f66010553f652e4e1dad84/master/pass/hard-boiled-eggs-BA-041817.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 910px;
}

.list-contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font: 20px Verdana;
    text-align: center;
    margin-bottom: 40px;
    z-index: 10;
}

.photo-img {
    margin: 0 15px;
    border-radius: 100%;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    box-shadow: 1px 1px 15px 5px black;
    z-index: 10;
}

.contacts-container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.contacts-line {
    position: absolute;
    height: 400px;
    width: 4px;
    background-color: black;
    top: 250px;
    left: 44.2%;
    z-index: 0;
    box-shadow: 1px 1px 15px 5px black;
}

/* Style for  Kiausrakulas*/

.body-oracule-egg {
    background-image: url('https://cdn.hipwallpaper.com/i/71/98/dtSzR5.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 910px;
    overflow: hidden;
}

.egg-main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.oracule-egg {
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/84dc13b7-a2e7-4b45-83ec-311e72e82900/dctdn1d-0dba8b10-2f0e-46ee-9cbc-8505f8d402cf.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvODRkYzEzYjctYTJlNy00YjQ1LTgzZWMtMzExZTcyZTgyOTAwXC9kY3RkbjFkLTBkYmE4YjEwLTJmMGUtNDZlZS05Y2JjLTg1MDVmOGQ0MDJjZi5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.GMGOPNOQcq7O0lH94tQ8SUum6TYi9pLUiQQmvU-Vkeo');
    width: 500px;
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 350px;
    animation: egg-move 5s infinite;
}

.egg-title-text {
    position: relative;
    top: 100px;
    text-align: center;
    font: bold 80px Verdana;
    text-shadow: 1px 1px 15px yellow;
}

.oracule-answer {
    font: 50px Verdana;
    text-shadow: 2px 2px 20px black;
    color: white;
    position: absolute;
    top: 550px;
}

@keyframes egg-move {
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}